.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 400px;

  .header {
    background-color: lightblue;
    text-align: center;
    min-height: 2rem;
    line-height: 2rem;
    font-family: var(--font-book);
    font-weight: 700;
    display: flex;
    justify-content: center;

    .previous {
      flex: 1;
      text-align: left;
      margin-left: 1rem;
      cursor: pointer;
    }

    .next {
      flex: 1;
      text-align: right;
      margin-right: 1rem;
      cursor: pointer;   
    }
  }

  .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
  }

  .body {
    border: 1px solid var(--light-blue);
  }

  .week {
    background-color: white;
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 700;
  }

  .week div {
    width: 100%;
  }

  .day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    font-weight: 400;
    cursor: pointer;

    .selected {
      background-color: rgb(198, 91, 91);
      color: rgb(36, 34, 34);
 
    }

    .workout{
      color: black;
      font-weight: 800;
    }

    .today {
      background-color: grey;
    }
  }

  //   .day div {
  //     width: 54px;
  //     height: 44px;
  //     position: relative;
  //     color: var(--black);
  //     z-index: 100;
  //     line-height: 44px;
  //   }
}
