.session-name{
    margin-top:2rem;
    margin-left: 2rem;
    height: 2rem;
    
}

.done{
    margin-left: 2rem;
    margin-top: 2rem;
}

.home{
    margin-left: 2rem;
    margin-top: 1rem;
}

.create-workout{
min-height:90vh
}